@media (max-width: 2000px) {
	.slidercontainer {
		top: 20%;
	}

	#floating-rotate {
		position: relative;
		left: 0;
		top: -35%;
	}

	#floating-arrow-sec1 {
		position: relative;
		left: 0;
		top: 20%;
	}

	/* TOP slider page */

	#lowerh3 {
		position: relative;
		top: 10rem;
	}

	#floating-rotate-top {
		position: relative;
		left: 0;
		top: -30%;
	}
	#floating-arrow-top {
		position: relative;
		left: 0;
		top: 20%;
	}

	.slidercontainer > * {
		transition: transform 0.5s;
	}

	.slidercontainer > *:first-child {
		transform: translateX(70%);
	}
	.slidercontainer.open-active > *:first-child {
		transform: translateX(-100%);
	}
	.slidercontainer > *:last-child {
		transform: translateX(100%);
	}
	.slidercontainer.open-active > *:last-child {
		transform: translateX(-70%);
	}
}

@media (max-width: 1500px) {
	.MainFocusAreaContent {
		font-size: 22px;
		margin-top: 0;
	}
	#section2,
	#section3,
	#section4 {
		padding-top: 10rem;
	}
}

@media (max-width: 1400px) {
	#landing.label {
		width: 80%;
		font-size: 14px;
		margin-left: -30%;
		transform: rotate(0deg);
		padding: 8px 0px;
	}

	.feed {
		width: 100%;
	}

	#socialfeed {
		width: 100%;
		height: 200px;
	}

	.mastofeed {
		flex-direction: column;
	}

	.feedbox {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.box-headline {
		width: 40%;
		margin-left: -40%;
	}

	.slidercontainer {
		top: 20%;
	}
}

@media (max-width: 1150px) {
	.subnav {
		float: left;
		overflow: hidden;
		padding: 8px 0px;
	}

	.dropbtn {
		padding: 16px 0;
	}

	.dropbtn a {
		padding: 0;
	}

	.sub-articles {
		align-items: center;
		flex-direction: column;
	}

	#label-lower.label {
		font-size: large;
	}

	#label-upper.label {
		font-size: large;
	}

	.articles-branch {
		margin: 5% 3%;
	}

	.clock {
		display: flex;
		justify-content: center;
		align-items: center;
		color: black;
		font-size: 14px;
		font-weight: 700;
		font-family: 'Raleway';
	}

	#item-label {
		margin-bottom: -7%;
		transform: rotate(-2deg);
		font-size: 12px;
	}

	#for-darkmode-three.entry {
		padding-top: 8%;
		background: #5a5d61;
		margin-top: 3%;
	}
}

@media (max-width: 750px) {
	.subnavbtn {
		padding: 0;
	}
}

@media (max-width: 600px) {
	#logo {
		padding: 0 8px;
	}
}

@media (max-width: 599px) {
	.article-main {
		font-size: 16px;
		max-width: 85%;
		margin-top: 15%;
	}

	.entry {
		width: 95vw;
	}
}

@media (max-width: 500px) {
	.navbar-desktop {
		display: none;
	}

	.navbar-mobile a {
		font-weight: 500;
	}
	.navbar-mobile {
		display: flex;
	}
	#landing.label {
		width: auto;
		font-size: 14px;
		margin-left: -30%;
		transform: rotate(0deg);
	}

	.box-headline {
		width: auto;
		margin-left: -40%;
		padding: 0 12px;
	}

	.feed {
		padding: 42px 4px 4px 8px;
		width: 100%;
	}

	#socialfeed {
		width: 100%;
		height: 200px;
	}

	.mastofeed {
		flex-direction: column;
		padding: 8px;
	}

	.feedbox {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.sub-articles {
		padding: 0;
	}

	.articles-branch {
		padding: 16px 0 0 0;
	}

	#for-darkmode-three.entry {
		padding-top: 12%;

		margin-top: 3%;
	}
}

@media (max-width: 300px) {
	#label-upper img {
		width: auto;
		height: 70%;
	}
}

@media (max-width: 250px) {
	#landing.label {
		width: auto;
		font-size: 10px;
		margin-left: -30%;
		transform: rotate(0deg);
	}

	.box-headline {
		width: auto;
		margin-left: -40%;
		padding: 0 12px;
	}
}

@media (max-height: 375px) {
	#label-upper img {
		width: auto;
		height: 40vh;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		color: white;
	}

	.entry {
		background: #2a2e30 url(./img/alt-scratch-invert.png) 5000px;
	}

	.talkbox {
		background-color: #2a2e30;
	}

	.articles-branch {
		background-color: #2a2e30;
	}
}
