body {
	height: 100vh;

	font-family: 'Work Sans';
}

a {
	text-decoration: none;
	color: black;
}

.mainframe {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	height: 95vh;
}

.typewriter h1 {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 0.15em solid orange; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: 0.1em; /* Adjust as needed */
	animation: typing 1.5s steps(12, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: black;
	}
}

#glitch {
	/* letter-spacing: -7px; */
	animation: glitch 1s linear infinite;
}

#glitch h1 {
	font-weight: 500;
}

@keyframes glitch {
	2%,
	64% {
		transform: translate(2px, 0) skew(0deg);
	}
	4%,
	60% {
		transform: translate(-2px, 0) skew(0deg);
	}
	62% {
		transform: translate(0, 0) skew(5deg);
	}
}

#glitch::before,
#glitch::after {
	content: attr(title);
	position: absolute;
	left: 0;
}
#glitch::before {
	animation: glitchTop 1s linear infinite;
	clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
	2%,
	64% {
		transform: translate(2px, -2px);
	}
	4%,
	60% {
		transform: translate(-2px, 2px);
	}
	62% {
		transform: translate(13px, -1px) skew(-13deg);
	}
}

#glitch::after {
	animation: glitchBottom 1.5s linear infinite;
	clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
	-webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBottom {
	2%,
	64% {
		transform: translate(-2px, 0);
	}
	4%,
	60% {
		transform: translate(-2px, 0);
	}
	62% {
		transform: translate(-22px, 5px) skew(21deg);
	}
}
@font-face {
	font-family: 'Work Sans ';
	font-style: thin;
	font-weight: 100;
	src: url('./fonts/WorkSans-Thin.ttf');
}
@font-face {
	font-family: 'Work Sans ';
	font-style: light;
	font-weight: 200;
	src: url('./fonts/WorkSans-ExtraLight.ttf');
}
@font-face {
	font-family: 'Work Sans ';
	font-style: thin;
	font-weight: 300;
	src: url('./fonts/WorkSans-Light.ttf');
}

@font-face {
	font-family: 'Work Sans ';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/WorkSans-Regular.ttf');
}

@font-face {
	font-family: 'Work Sans ';
	font-style: normal;
	font-weight: 500;
	src: url('./fonts/WorkSans-Medium.ttf');
}

@font-face {
	font-family: 'Work Sans ';
	font-style: normal;
	font-weight: 600;
	src: url('./fonts/WorkSans-SemiBold.ttf');
}

@font-face {
	font-family: 'Work Sans ';
	font-style: bold;
	font-weight: 700;
	src: url('./fonts/WorkSans-Bold.ttf');
}

@font-face {
	font-family: 'Work Sans ';
	font-style: bold;
	font-weight: 800;
	src: url('./fonts/WorkSans-ExtraBold.ttf');
}

@font-face {
	font-family: 'Work Sans ';
	font-style: bold;
	font-weight: 900;
	src: url('./fonts/WorkSans-Black.ttf');
}
