* {
	box-sizing: border-box;
	scroll-behavior: smooth !important;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	background-color: white;
	/* background: linear-gradient(to right, #eeeeee 0%, #bebebe 100%); */
	color: black;
	margin: 0;
	max-width: 100%;
	overflow-x: hidden;
	font-family: 'Work Sans';
}

#topbody {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	background-color: white;
	/* background: linear-gradient(to right, #eeeeee 0%, #bebebe 100%); */
	color: black;
	margin: 0;
	max-width: 100%;
	overflow-x: hidden;
	font-family: 'Work Sans';
	opacity: 0;
	transition: opacity 3s;
}

.mainframe {
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* flex: 1; */
	align-items: center;
}

.toggle-desktop.dropbtn {
	color: black;
	word-wrap: normal;
	width: 2rem;
}

.toggle-desktop.dropbtn:active {
	transform: scale(0.91);
}

.menu-right,
#top2.menu-right {
	margin-right: 20px;
}

.navbar-desktop {
	display: flex;
}

.bg-box {
	width: 5rem;
	height: 1rem;
	/* background-color: #acaaaab4; */
	background-color: #f63949ab;
}

.box-logo-projects {
	width: 12rem;
	height: 2.5rem;
	position: relative;
	top: 12px;
	left: -24px;
	z-index: -2;
}

.bg-box-left {
	width: 5rem;
	height: 2.5rem;
	/* background-color: rgba(168, 226, 253, 0.842); */
	background-color: #1fb5f0c2;
	position: relative;
	z-index: -2;
	top: 28px;
	left: -24px;
	margin-left: 5rem;
}
#inline-color {
	color: rgb(0, 71, 202);

	z-index: 19;
}
.higher-z {
	z-index: 19;
}
@keyframes popDown {
	0% {
		transform: translateY(-100px);
	}
}
header {
	width: 100vw;
}
.navbar-mobile,
.navbar-desktop {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-color: none;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 100%;
	width: 20rem;
	height: 5rem;
	gap: 32px;
	font-size: 14px;
	flex-shrink: 0;
	align-items: center;
	position: fixed;
	top: 40px;
	z-index: 99;
	left: 75px;
	transition: 0.3s ease-in;
	border: 2px solid black;
}

.expand-navbar {
	width: 95vw !important;
	border: 2px solid black;
}

.navbar-mobile {
	display: none;
}

.navbar-desktop a,
.navbar-mobile a {
	font-size: 22px;
	font-weight: 500;
	color: black;
	text-align: center;
	padding: 6px 0px 6px 8px;
	text-decoration: none;
	position: relative;
}

.navbar-mobile a:hover {
	background-color: #37a74a;
}

#top1.menu-left,
#top2.menu-right {
	display: flex;

	flex-wrap: wrap;
	gap: 16px;
}

.menu-left {
	display: flex;
	flex: 1;
	gap: 16px;
	width: 17rem;
	height: 5rem;
	justify-content: center;
	align-items: center;
}

.logo-box {
	height: 5rem;
	width: 20rem;
	display: flex;
	justify-content: center;
	text-align: center;
	border: 2px solid black;
	position: fixed;
	left: 75px;
}
.no-border {
	border: none !important;
}

.menu-right {
	display: flex;
	/* flex-direction: column; */
	flex-wrap: wrap;
	gap: 16px;
	height: 5rem;
	margin-left: clamp(32vw, 38vw, 50vw);
}

.clock {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Work Sans';
	letter-spacing: 2px;
}

.burgermenu {
	display: flex;
	flex-direction: column;
	line-height: 6px;
	padding-top: 2px;
	width: 50vw;
	height: 10vh;
	align-items: center;
	/* color: black; */
}

.burgermenu a {
	color: none;
}

/* @keyframes bounce {
	0%,
	100%,
	20%,
	50%,
	80% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(15px);
		-ms-transform: translateY(15px);
		transform: translateY(15px);
	}
	60% {
		-webkit-transform: translateY(30px);
		-ms-transform: translateY(30px);
		transform: translateY(30px);
	}
}
#bounce {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

#bounce:hover {
	cursor: pointer;
	animation-name: bounce;
	-moz-animation-name: bounce;
} */

/* @-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(-1px);
		-ms-transform: translateY(-1px);
		transform: translateY(-1px);
	}
	10% {
		-webkit-transform: translateY(4px);
		-ms-transform: translateY(4px);
		transform: translateY(4px);
	}
	20% {
		-webkit-transform: translateY(-1px);
		-ms-transform: translateY(-1px);
		transform: translateY(-1px);
	}
	30% {
		-webkit-transform: translateY(4px);
		-ms-transform: translateY(4px);
		transform: translateY(4px);
	}
	100% {
		-webkit-transform: translateY(-1px);
		-ms-transform: translateY(-1px);
		transform: translateY(-1px);
	}
} */

@keyframes downBounce {
	0% {
		-webkit-transform: translateY(-1px);
		-ms-transform: translateY(-1px);
		transform: translateY(-1px);
	}
	10% {
		-webkit-transform: translateY(4px);
		-ms-transform: translateY(4px);
		transform: translateY(4px);
	}
	20% {
		-webkit-transform: translateY(-1px);
		-ms-transform: translateY(-1px);
		transform: translateY(-1px);
	}
	30% {
		-webkit-transform: translateY(4px);
		-ms-transform: translateY(4px);
		transform: translateY(4px);
	}
	100% {
		-webkit-transform: translateY(-1px);
		-ms-transform: translateY(-1px);
		transform: translateY(-1px);
	}
}

data-styled.g34[id='pages__ScrollDown-sc-if2cc4-2'] {
	content: 'heWHQY,';
}

.subnav-content {
	display: none;
}

.dropbtn {
	font-size: 14px;
	border: none;
	outline: none;
	color: white;
	padding: 8px 8px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	float: left;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Content Area */

#section0,
#section1,
#section2,
#section3,
#section4 {
	height: 100vh;
}
/* #section1,
#section2,
#section3,
#section4 {
	padding-top: 16rem;
} */
.section0 {
	font-size: 26px;
	word-break: break-word;
	width: 100%;
	background-image: url(./img/img1bw.jpg);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-attachment: local;
}

.new-bg-img {
	background-image: url(./img/img1bw-invert.jpg) !important;
}

#section2 {
	background-color: #f1f1f1;
}

.MainFocusArea {
	max-width: 100%;
	width: 100vw;
	flex: 1;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	/* padding-top: 10rem; */
	margin: 0px 8px 0px 8px;
	gap: 3vw;
}

.MainFocusAreaContent {
	padding: 16px 0 16px 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 26px;
	word-break: break-word;
	width: 100%;
	/* margin-top: 10rem; */
	margin-bottom: 5%;
	gap: 3rem;
	transition: transform 0.5s;
}

.MainFocusAreaContent p {
	margin-bottom: 0;
}

.special {
	background-color: #acaaaab4;
	font-size: 48px;
	font-style: italic;
	font-weight: 700;
	white-space: pre;
}

#add-top-margin {
	margin-top: 10rem;
}

#special {
	color: rgb(0, 71, 202);
	background-color: rgba(168, 226, 253, 0.842);
	position: relative;
	top: 3px;
	font-size: 48px;
	font-style: italic;
	font-weight: 700;
	white-space: pre;
}

h2#welcome {
	font-weight: 500;
}

.MainPageFocusBox {
	padding: 0;
	display: flex;
	gap: 3rem;
	align-items: center;
	flex-direction: column;
	width: 100%;
	position: relative;
}

.MainPageFocusUpper {
	width: 100%;
	height: auto;
	/* margin-left: -20%; */
	display: flex;
	justify-content: center;
}

.df-column {
	display: flex;
	position: relative;
	top: -20%;
}

.Upper-With-Slider {
	display: flex;
	flex-direction: row;
}

.slider1,
.slider {
	background: none;
	outline: none;
	width: 5rem;
	border: none;
	padding: 10px 30px;
	background-color: inherit;
	font-size: 24px;
}

.solid {
	font-weight: 900 !important;
}

.regular {
	font-weight: 400 !important ;
}

@keyframes rotate {
	0% {
		transform: rotate(-1800deg);
	}
	100% {
		transform: rotate(1800deg);
	}
}

/* .slider:hover {
	animation: rotate 20s infinite;
} */

.slidercontainer {
	/* margin-left: 150vw; */
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.5s;
	width: 100vw;
	height: auto;
	position: relative;
	top: 30%;
	gap: 20rem;
}

.slidercontainer > * {
	transition: transform 0.5s;
}

.slidercontainer > *:first-child {
	transform: translateX(66%);
}
.slidercontainer.open-active > *:first-child {
	transform: translateX(-100%);
}
.slidercontainer > *:last-child {
	transform: translateX(100%);
}
.slidercontainer.open-active > *:last-child {
	transform: translateX(-66%);
}

.turn-left {
	transform: rotate(-120deg);
}

.landing-splash {
	width: 100%;
	height: auto;
}
.landing-splash img {
	width: 100%;
	height: auto;
}

.MainPageFocusMiddle {
	display: flex;
	width: 100%;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	text-align: justify;
}

#img-container-page1 img {
	width: 300px;
}

#lowerh3 {
	position: relative;
	top: 16rem;
}

/* #WithNegativeMarginRight {
	margin-right: -20%;
} */

/* .MainPageFocusBox.CloserToTheTop {
	padding-top: 10rem !important;
} */

.MainPageFocusLower {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: auto;
	align-items: center;
}

.floating-arrow {
	opacity: 0.65;
	transition: transform 0.2s ease 0s;
	animation: 2s linear 0s infinite normal none running bounce;
}
#floating-arrow-sec0 {
	position: static;
	left: 0;
	top: 0%;
}
#floating-arrow-sec1 {
	position: relative;
	left: 0;
	top: 30%;
}
#floating-arrow-sec2 {
	position: relative;
	left: 0;
	top: 50vh;
}

#floating-rotate {
	position: relative;
	left: 0;
	top: -30%;
}
#floating-rotate-top {
	position: relative;
	left: 0;
	top: -10rem;
}
#floating-arrow-top {
	position: relative;
	left: 0;
	top: 25%;
}

#sec2-text {
	position: relative;
	left: 0;
	top: 45vh;
}

#indented {
	width: clamp(350px, 100%, 50rem);
}

.coding-tools {
	display: flex;
	flex-direction: row;
	/* margin-right: 8rem; */
}

/* Projects poge */

#ProjectPageFrame {
	width: 100%;
	height: 100%;
}

#float-top {
	position: relative;
	top: 20%;
}

/* Flipcard effect */

.flip-card {
	background-color: transparent;
	width: 100%;
	height: 20rem;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-card-front {
	background-color: rgb(255, 255, 255);
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.flip-card-back {
	background-color: #fffffff5;
	color: black;
	transform: rotateY(180deg);
	display: flex;
	justify-content: center;
	align-items: center;
}
.flip-card-back p {
	padding: 20px;
	margin: 0;
}

.card {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 0.5rem;
}

/* Picks page */

.container {
	margin-top: 109px;
}

.picks {
	margin-top: 10rem;
}

/* Feed page */

.mastofeed {
	height: auto;
	width: 100%;
	padding: 0 32px 0px 32px;
	margin-bottom: 0%;
	display: flex;
	gap: 12rem;
	justify-content: center;
}

.feed {
	padding: 50px 16px 16px 16px;

	width: 500px;
}

#socialfeed {
	width: 100%;
	height: 800px;
}

.top-feed {
	padding: 84px 16px 16px 16px;
	background-color: white;
	width: 50rem;
	height: auto;
	border: 2px solid black;
}

.feedbox {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: auto;
}

.box-headline {
	margin-bottom: -30px;
	margin-top: 30px;
	margin-left: -70%;
	background: #37a74a url(./img/alt-scratch.png) repeat scroll 0% 0% / 600px !important;
	z-index: 2;
	width: 40%;
	text-align: center;
	transform: rotate(0deg);
	border: 2px solid black;
}

.box-headline-image {
	margin-bottom: -30px;
	margin-top: 5px;
	margin-left: -95%;
	z-index: 2;
	width: 40%;
	text-align: center;
}

#wp.box-headline-image {
	margin-bottom: -50px;
	margin-top: 5px;
	margin-right: -175%;
	z-index: 2;
	width: 40%;
	text-align: center;
}

.label {
	margin-top: -32px;
	margin-left: -10%;
	background: #37a74a url(./img/alt-scratch.png) repeat scroll 0% 0% / 600px !important;
	z-index: 4;
	text-align: center;
	transform: rotate(2deg);
	width: 60%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
}

.label h1 {
	margin: 0;
}

.item-framing {
	display: flex;
	flex-direction: column;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	border: 2px solid black;
	visibility: hidden;
	width: 120%;
	background-color: #37a74a;
	color: black;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	padding: 10px 5px;
	position: absolute;
	z-index: 1;
	top: 20%;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

#codenewbie {
	background-color: #18191a;
}

.item {
	width: 250px;
	height: 250px;
	display: flex;
	justify-content: center;
	text-align: center;
	border: 2px solid black;
}

.codeitem {
	width: 150px;
	height: 150px;

	display: flex;
	justify-content: center;
	text-align: center;
}

.tips {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 4%;
	padding-bottom: 5%;
	gap: 32px;
	flex-wrap: wrap;
}

#item-label {
	margin-bottom: -5%;
	transform: rotate(-2deg);
}

.item img,
.item a {
	width: 100%;
	height: 100%;
}

figcaption {
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}

.footer {
	text-align: center;
	font-size: 10px;
	width: 100vw;
	padding: 8px;
}

.footer p {
	margin: 0 0 5px 0;
}

.darkbody {
	color: white !important;
	background: #2a2e30 !important;
}

.darkmode-color-white {
	color: white !important;
}

.dark-bgc {
	background-color: #5f5f5f;
}
/* Media queries */

/* Effects xf */

/* Glitch Effect */

#glitch {
	/* letter-spacing: -7px; */
	animation: glitch 1s linear infinite;
	margin-top: 16rem;
}

h1#glitch,
h2#glitch {
	font-weight: 500;
}

@keyframes glitch {
	2%,
	64% {
		transform: translate(2px, 0) skew(0deg);
	}
	4%,
	60% {
		transform: translate(-2px, 0) skew(0deg);
	}
	62% {
		transform: translate(0, 0) skew(5deg);
	}
}

#glitch::before,
#glitch::after {
	content: attr(title);
	position: absolute;
	left: 0;
}
#glitch::before {
	animation: glitchTop 1s linear infinite;
	clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
	2%,
	64% {
		transform: translate(2px, -2px);
	}
	4%,
	60% {
		transform: translate(-2px, 2px);
	}
	62% {
		transform: translate(13px, -1px) skew(-13deg);
	}
}

#glitch::after {
	animation: glitchBottom 1.5s linear infinite;
	clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
	-webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBottom {
	2%,
	64% {
		transform: translate(-2px, 0);
	}
	4%,
	60% {
		transform: translate(-2px, 0);
	}
	62% {
		transform: translate(-22px, 5px) skew(21deg);
	}
}

/* Typewriter Effect  */
.typewriter h1 {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0;
	/* Gives that scrolling effect as the typing happens */
	/* letter-spacing: 0.4em; Adjust as needed */
	animation: typing 1.2s steps(17, end);
	/* letter-spacing: 0.1rem; */
}

@keyframes typing {
	from {
		width: 0%;
	}
	to {
		width: 28rem;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: black;
	}
}

/* text cursor blink effect */

.cursorbox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2px;
	height: auto;
	position: fixed;
}
.cursorbox h2 {
	display: flex;
	align-items: center;
	gap: 2px;
	font-size: 26px;
}

.cursorbox h2::after {
	content: '';
	width: 3px;
	height: 26px;
	background: #000000;
	display: inline-block;
	animation: cursor-blink 1.5s steps(2) infinite;
}

@keyframes cursor-blink {
	0% {
		opacity: 0;
	}
}

/* JavaScript IDs anchors */

.toggle {
	font-family: 'Iosevka Nerd Font';
	font-size: 14px;
	border: none;
	outline: none;
	color: black;
	padding: 8px 8px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.toggle-desktop,
.close-navbar {
	font-family: 'Iosevka Nerd Font';
	font-size: 14px;
	border: none;
	outline: none;
	color: black;
	padding: 8px 8px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

/*Fonts*/

@font-face {
	font-family: 'Iosevka Nerd Font Complete';
	font-style: normal;
	font-weight: 300;
	src: url('./fonts/Iosevka\ Nerd\ Font\ Complete.ttf');
}

@font-face {
	font-family: 'Work Sans ';
	font-style: thin;
	font-weight: 100;
	src: url('./fonts/WorkSans-Thin.ttf');
}
@font-face {
	font-family: 'Work Sans ';
	font-style: light;
	font-weight: 200;
	src: url('./fonts/WorkSans-ExtraLight.ttf');
}
@font-face {
	font-family: 'Work Sans ';
	font-style: thin;
	font-weight: 300;
	src: url('./fonts/WorkSans-Light.ttf');
}

@font-face {
	font-family: 'Work Sans ';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/WorkSans-Regular.ttf');
}

@font-face {
	font-family: 'Work Sans ';
	font-style: normal;
	font-weight: 500;
	src: url('./fonts/WorkSans-Medium.ttf');
}

@font-face {
	font-family: 'Work Sans ';
	font-style: normal;
	font-weight: 600;
	src: url('./fonts/WorkSans-SemiBold.ttf');
}

@font-face {
	font-family: 'Work Sans ';
	font-style: bold;
	font-weight: 700;
	src: url('./fonts/WorkSans-Bold.ttf');
}

@font-face {
	font-family: 'Work Sans ';
	font-style: bold;
	font-weight: 800;
	src: url('./fonts/WorkSans-ExtraBold.ttf');
}

@font-face {
	font-family: 'Work Sans ';
	font-style: bold;
	font-weight: 900;
	src: url('./fonts/WorkSans-Black.ttf');
}
