body {
        font-family: monospace;
        background-image: url("./images/back_cat.png");
        background-size: auto;


      }

header {
        height: 100px;
        background-color: #FDFCFC;
        font-size: 34px;
        text-align: center;
        padding: 0% 0% 0% 0%;
        margin-bottom: 3%;
        border: solid maroon 2px;
        opacity: 0.8;
      }

.

p.landing {
              font-size: 20px;

      }



main {  font-size: 20px;
        margin-right: 3%;
        background-color: #FDFCFC;
        width: 100%;


      }

.imgcat {

}

aside { float: right;
        width: 30%;
       padding-left: 15px;
       margin-left: 15px

}
