* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	font-family: 'Work Sans';
	background: linear-gradient(
		to right,
		rgb(238, 210, 49) 0%,
		rgb(255, 227, 136) 100%
	);
}

.main {
	width: 900px;
	height: 900px;
	display: flex;
	flex-direction: column;
	margin: 0;
	justify-content: center;
	align-items: center;

	margin: 20px;
}

#frame {
	width: 1000px;
	height: 1000px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(204, 36, 36);
	border-radius: 10px;
	border: 2px solid black;
	box-shadow: inset 0 0 0.5rem rgb(0 0 0 / 50%);
}

section {
	height: 1200px;
}
header {
	width: 100%;
	text-align: center;
	margin-top: 5rem;
}
header h1 {
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 64px;
}
#heading {
	display: flex;
	width: 40rem;

	align-items: center;
	justify-content: center;
	background-color: rgb(204, 36, 36);
	/* transform: rotate(4deg) !important; */
	transform: skew(15deg, 3deg);
	margin: 0 15px;
}

#nav {
	display: flex;
	width: inherit;
	justify-content: space-between;
}

button {
	outline: none;
	border: none;
	font-weight: 700;
	font-size: 26px;
	padding: 30px 50px;
	background-color: rgb(152, 192, 202);
	border-radius: 10px;
	border: 1px solid black;
}

#gridCreator {
	transform: rotate(-6deg);
	position: relative;
	left: -50px;
	top: 30px;
}
#clear {
	transform: rotate(6deg);
	position: relative;
	left: 40px;
	top: 30px;
}

.row {
	display: flex;
	flex-direction: row;
	margin: 0;
	width: fit-content;
	height: auto;
}

.square {
	width: 15px;
	height: 15px;
	margin: 0;
	border: 1px solid black;
	background-color: white;
}

.black {
	background-color: black;
}

.white {
	background-color: white;
}

footer {
	margin-bottom: 2rem;
}
